[user]
    name = carolinbueno
    email = bueno.carolinr@gmail.com
    password = cafepreto2410
[http]
    sslVerify = false
[https]
    sslverify = false
[push]
    default = simple
[credential]
    helper = cache --timeout=360000000
[core]
    autocrlf = false